<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EOS Remote Control</title>
        <script src="/osc.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>