<div id="channels"></div>
<div id="control">
    <p>Chan</p>
    <input id="channel-input" type="number" min="1" step="1">
    <p>@</p>
    <input id="channel-val-input" type="number" min="0" max="100" value="0" step="1">
    <button id="send">Go</button>
</div>
<script src="/js/channels.js"></script>
