<div id="input">
    <input id="cmd" type="text">
    <input id="send" type="submit" value="send">
    <input id="clear" type="submit" value="clear">
</div>
<div id="output"></div>
<script src="/js/console.js"></script>
